
- name: Build Docker image (verbose)
  run: |
    echo "Current directory: $(pwd)"
    ls -R
    docker build --progress=plain \
      -t docker_first_pipeline:ci \
      -f ./docker_first_pipeline/docker/Dockerfile \
      .
